name: CI/CD BNSP

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/luluk/BNSP || exit 1

            git pull origin main

            docker stop bnsp-app || true
            docker rm bnsp-app || true

            docker build -t bnsp-app:latest .
            docker run -d --name bnsp-app -p 80:5000 bnsp-app:latest
